fastapi 
uvicorn 
sqlalchemy 
psycopg2-binary 
pandas 
numpy 
seaborn
scikit-learn 
matplotlib 
nltk 
gensim 
hmmlearn 
python-multipart
pydantic[email]
google-genai
openai
python-dotenv
passlib
bcrypt==4.0.1
python-jwt
python-jose
pytest